.header {
    background: var(--gray-700);
    display: flex;
    justify-content: center;
    padding: 4.5rem 0;

}

.header div {
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header img {
    height: 3rem;
}